.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  color: rgb(19, 16, 16);
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  z-index: 10;
  -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  background-color: rgb(255, 255, 255);
}
.nvbar {
  padding: 0 17px 28px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  border-bottom: none;
  transition: left 0.2s ease-out, width 0.2s ease-out;
  font-weight: 500;
  text-transform: uppercase;
  display: inline;
}
.nvbar ul li {
  list-style-type: none;
  display: inline;
  margin: 2vh;
  float: left;
  top: 0;
}
.lgoimg {
  width: 45px;
  height: 30px;
  float: left;
  vertical-align: middle;
  padding-left: 10px;
}
.desktop-navContent {
  float: left;
  border: hidden;
  text-align: center;
}
.search {
  float: right;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 400px;
  width: 210px;
  border-radius: 10px;
  z-index: 1;
}
.cards .card_header {
  position: relative;
  z-index: 3;
  background: #fff;
  padding: 0 10px;
  height: 85px;
  margin-top: 12px;
  box-sizing: border-box;
  overflow: hidden;
}
.main_content {
  display: grid;
  grid-auto-columns: minmax(auto, auto);
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  padding-left: 80px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px auto;
  float: left;
}
.cards .card_img {
  position: relative;
  z-index: 0;
  background: #fff;
  border-radius: 10px;
  height: 280px;
  width: 210px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-sizing: border-box;
  overflow: hidden;
}
.cards:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.price {
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
}
h4 {
  margin-top: 0px 0px 6px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.product-product {
  color: #061d6d;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: 700;
}
p.price {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 14px;
}

.card_header {
  background-color: #fafafc;
  height: 12em;
  width: 12em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-align: center;
}
.filter-bar {
  width: 130px;
  position: fixed;
  z-index: 5;
  top: 200px;
  left: 5px;
  background: rgb(247, 218, 195);
  overflow-x: hidden;
  border-radius: 5px;
  width: auto;
  text-align: left;
  text-decoration: none;
}

.filter-bar .link,
li {
  padding: 0px 3px 3px 3px;
  text-decoration: none;
  font-size: 15px;
  color: #01577c;
  display: grid;
  text-align: left;
  font-weight: 500;
}

.filter-bar a:hover {
  color: #f13ab1;
}
